/* Switzer Font */
@import url('https://api.fontshare.com/v2/css?f[]=switzer@300,400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Switzer', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #EFE9DF;
  color: #272117;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #D72027;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
